<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Scraper - Beau Simpson</title>

    {{!-- Bootstrap Link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    {{!-- site specific CSS link --}}
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

    {{{body}}}

    {{!-- jQuery link --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- site specific javascript link --}}
    <script src="/assets/js/index.js"></script>
</body>

</html>