<div id="homepage-jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Mongo</h1>
        <h1 class="display-3">News Scraper</h1>
        <a href="/scrape"><button id="scrape-articles" class="btn btn-danger">Scrape Articles <i class="fas fa-arrow-alt-circle-down"></i></button></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="scraped-articles" class="col-md-12">
        </div>
    </div>
</div>