<div id="homepage-jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><sub>Mongo</sub></h1>
        <h1 class="display-3">News Scraper</h1>
        <p class="lead jumbotron-p">NPR Front Page Edition</p>
        <a href="/scrape">
            <button id="scrape-articles" class="btn btn-danger">Scrape Articles <i class="fas fa-arrow-alt-circle-down"></i></button>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="scraped-articles" class="col-md-8"></div>
        <div id="article-note" class="col-md-4"></div>
    </div>
</div>