<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Saved Articles</h1>
        <p class="lead jumbotron-p">from NPR's Front Page</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="saved-articles" class="col-md-8"></div>
        <div id="article-note" class="col-md-4"></div>
    </div>
</div>