
h1 {
    color: #cd0029;
}

.jumbotron {
    background-image: url("/assets/images/newspaper-homepage.jpg");
    background-size: cover;
}

.jumbotron-p {
    color: #cd3e00;
    font-size: 2em;
}

/* note input */
#bodyinput, #titleinput {
    width: 100%;
}