
h1 {
    color: #cd0029;
}

.jumbotron {
    background-image: url("/assets/images/newspaper-homepage.jpg");
    background-size: cover;
}

/* note input */
#bodyinput, #titleinput {
    width: 100%;
}